ul {
  padding: 0 10px;
  margin: 0;
}

ul>li {
  list-style: none;
}

ul>li button {
  float: right;
  border: none;
  background:none;
  outline: none;
}

ul .alert{
  border: none;
}
ul#complete .alert {
  background: #d9edf7;
}

ul#todo .alert button:nth-child(2) span {
  margin-left: 6px;
}

ul#complete .alert button:nth-child(2) span {
  border: 1px solid #3c763d;
  border-radius: 30px;
  padding: 2px;
  position: relative;
  top: -2px;
}
